{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('bundles/fuzapp/js/collection/jquery.collection.js') }}"></script>
{% endblock %}

{% block body %}

    {% form_theme form 'FuzAppBundle:Default:advanced-theme.html.twig' %}

    {{ form(form) }}

    {% for value in data.values %}
        <p>Value : {{ value }}</p>
    {% endfor %}

{% endblock %}

{% block script %}

    <script type="text/javascript">
        $('.collection').collection({
            'add': '<a href="#" class="btn btn-default">Add</a>,'
        });
    </script>

{% endblock %}