{# see Fuz\AppBundle\Twig\Extension\HelperExtension.php #}

<hr>

This demostration is made of the following files <em>(click to see on GitHub in a new tab)</em>:

{% for path in paths %}
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/ninsuo/symfony-collection/blob/master/demo/src/Fuz/AppBundle/{{ path }}" target="_blank">{{ path }}</a>
{% endfor %}

<hr>


